COMPOSE_PROJECT_NAME=postgres
# local-only docker-compose runtime path
XIAMIMATE_POSTGRES_DATA_DIR=/absolute/path/to/postgres/pgdata
XIAMIMATE_METABASE_VOLUME_NAME=postgres_metabase_data
XIAMIMATE_GRAFANA_VOLUME_NAME=postgres_grafana_data